<div class="container">
  <h1>All our flats (<%= @flats.length %>)</h1>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-4 p-2">
        <div class="card bg-light">
          <div class="card-body">
            <h3 class="card-title"><%= flat.name %></h3>
            <p class="card-text">
              <%= flat.description %><br />
            </p>
            <div class="card-text d-flex gap-4 align-items-center">
              <p><i class="fa-solid fa-users pe-2"></i> <%= flat.number_of_guests %></p>
              <p><i class="fa-solid fa-euro-sign pe-2"></i> <%= flat.price_per_night %></p>
            </div>
            <div class="card-footer">
              More info
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
